version: "3.8"
services:
  dockge:
    container_name: dockge
    image: louislam/dockge:latest
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /docker/appdata/dockge:/app/data
      - /root/docker:/root/docker
    environment:
      - DOCKGE_STACKS_DIR=/root/docker